@{
    ViewBag.Title = "Contact";
}

<form action="">
    <fieldset>
        <legend>Login form</legend>
        <div>
            <label for="username">Your username</label>
            <input type="text" id="username" aria-describedby="username-tip" required />
            <div role="tooltip" id="username-tip">Your username is your email address</div>
        </div>
        <div>
            <label for="password">Your password</label>
            <input type="text" id="password" aria-describedby="password-tip" required />
            <div role="tooltip" id="password-tip">Was emailed to you when you signed up</div>
        </div>
    </fieldset>
</form>

@section extrastyle
{
    <style>
        input:focus + [role="tooltip"] {
            display: block;
            top: 100%;
        }
        [role="tooltip"] {
            display: none;
            padding: 0.25em;
            margin: 0;
            color: #fff;
            background: #EF8100;
            width: 100%;
            z-index: 2;
        }
    </style>
}
