@{
    ViewBag.Title = "Hem";
}
<div class="jumbotron">
    <h1>WCAG Example</h1>
    <p class="lead">En liten testsida för att visa olika WCAG-tekniker.</p>
</div>

<p>Välj vad du vill kika på...</p>
